In [1]:
import pandas as pd
df = pd.read_csv("full_data.csv", encoding="utf-8", sep='\t')
df.columns

Index(['Ceremony', 'Year', 'Class', 'CanonicalCategory', 'Category', 'NomId',
       'Film', 'FilmId', 'Name', 'Nominees', 'NomineeIds', 'Winner', 'Detail',
       'Note', 'Citation', 'MultifilmNomination'],
      dtype='object')

In [2]:
df

,Ceremony,Year,Class,CanonicalCategory,Category,NomId,Film,FilmId,Name,Nominees,NomineeIds,Winner,Detail,Note,Citation,MultifilmNomination
0,1,1927/28,Acting,ACTOR IN A LEADING ROLE,ACTOR,an0051251,The Noose,tt0019217,Richard Barthelmess,Richard Barthelmess,nm0001932,NaN,Nickie Elkins,NaN,NaN,True
1,1,1927/28,Acting,ACTOR IN A LEADING ROLE,ACTOR,an0051252,The Patent Leather Kid,tt0018253,Richard Barthelmess,Richard Barthelmess,nm0001932,NaN,The Patent Leather Kid,NaN,NaN,True
2,1,1927/28,Acting,ACTOR IN A LEADING ROLE,ACTOR,an0051250a,The Last Command,tt0019071,Emil Jannings,Emil Jannings,nm0417837,True,General Dolgorucki [Grand Duke Sergius Alexander],NaN,NaN,True
3,1,1927/28,Acting,ACTOR IN A LEADING ROLE,ACTOR,an0051250b,The Way of All Flesh,tt0019553,Emil Jannings,Emil Jannings,nm0417837,True,August Schilling,NaN,NaN,True
4,1,1927/28,Acting,ACTRESS IN A LEADING ROLE,ACTRESS,an0051255,A Ship Comes In,tt0018389,Louise Dresser,Louise Dresser,nm0237571,NaN,Mrs. Pleznik,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12009,97,2024,SciTech,SCIENTIFIC AND TECHNICAL AWARD (Technical Achi...,SCIENTIFIC AND TECHNICAL AWARD (Technical Achi...,NaN,NaN,NaN,NaN,"Dustin Brooks, Colin Decker",NaN,True,NaN,Fire for Hire's gel first publicly demonstrate...,To DUSTIN BROOKS and COLIN DECKER for the deve...,NaN
12010,97,2024,SciTech,SCIENTIFIC AND TECHNICAL AWARD (Technical Achi...,SCIENTIFIC AND TECHNICAL AWARD (Technical Achi...,NaN,NaN,NaN,NaN,"Attila T. Áfra, Timo Aila",NaN,True,NaN,Open Image Denoise is an open-source library t...,To ATTILA T. ÁFRA for the creation of Intel Op...,NaN
12011,97,2024,SciTech,SCIENTIFIC AND TECHNICAL AWARD (Technical Achi...,SCIENTIFIC AND TECHNICAL AWARD (Technical Achi...,NaN,NaN,NaN,NaN,Mark Noel,NaN,True,NaN,The NACMO series of modular motion bases enabl...,To MARK NOEL for adapting and enhancing the sa...,NaN
12012,97,2024,SciTech,SCIENTIFIC AND TECHNICAL AWARD (Technical Achi...,SCIENTIFIC AND TECHNICAL AWARD (Technical Achi...,NaN,NaN,NaN,NaN,"Su Tie, Bei Shimen, Zhao Yanchong",NaN,True,NaN,Utilizing three-axis stabilization through mul...,To SU TIE for the development of the sensor an...,NaN
12013,97,2024,SciTech,SCIENTIFIC AND TECHNICAL AWARD (Technical Achi...,SCIENTIFIC AND TECHNICAL AWARD (Technical Achi...,NaN,NaN,NaN,NaN,"Tabb Firchau, John Ellison, Steve Webb, David ...",NaN,True,NaN,Freefly Systems' introduction of handheld stab...,To TABB FIRCHAU for the conception and develop...,NaN

In [3]:
df.describe

<bound method NDFrame.describe of        Ceremony     Year    Class  \
0             1  1927/28   Acting
1             1  1927/28   Acting
2             1  1927/28   Acting
3             1  1927/28   Acting
4             1  1927/28   Acting
...         ...      ...      ...
12009        97     2024  SciTech
12010        97     2024  SciTech
12011        97     2024  SciTech
12012        97     2024  SciTech
12013        97     2024  SciTech

                                       CanonicalCategory  \
0                                ACTOR IN A LEADING ROLE
1                                ACTOR IN A LEADING ROLE
2                                ACTOR IN A LEADING ROLE
3                                ACTOR IN A LEADING ROLE
4                              ACTRESS IN A LEADING ROLE
...                                                  ...
12009  SCIENTIFIC AND TECHNICAL AWARD (Technical Achi...
12010  SCIENTIFIC AND TECHNICAL AWARD (Technical Achi...
12011  SCIENTIFIC AND TECHNICAL AWARD (Technical Achi...
12012  SCIENTIFIC AND TECHNICAL AWARD (Technical Achi...
12013  SCIENTIFIC AND TECHNICAL AWARD (Technical Achi...

                                                Category       NomId  \
0                                                  ACTOR   an0051251
1                                                  ACTOR   an0051252
2                                                  ACTOR  an0051250a
3                                                  ACTOR  an0051250b
4                                                ACTRESS   an0051255
...                                                  ...         ...
12009  SCIENTIFIC AND TECHNICAL AWARD (Technical Achi...         NaN
12010  SCIENTIFIC AND TECHNICAL AWARD (Technical Achi...         NaN
12011  SCIENTIFIC AND TECHNICAL AWARD (Technical Achi...         NaN
12012  SCIENTIFIC AND TECHNICAL AWARD (Technical Achi...         NaN
12013  SCIENTIFIC AND TECHNICAL AWARD (Technical Achi...         NaN

                         Film     FilmId                 Name  \
0                   The Noose  tt0019217  Richard Barthelmess
1      The Patent Leather Kid  tt0018253  Richard Barthelmess
2            The Last Command  tt0019071        Emil Jannings
3        The Way of All Flesh  tt0019553        Emil Jannings
4             A Ship Comes In  tt0018389       Louise Dresser
...                       ...        ...                  ...
12009                     NaN        NaN                  NaN
12010                     NaN        NaN                  NaN
12011                     NaN        NaN                  NaN
12012                     NaN        NaN                  NaN
12013                     NaN        NaN                  NaN

                                                Nominees NomineeIds Winner  \
0                                    Richard Barthelmess  nm0001932    NaN
1                                    Richard Barthelmess  nm0001932    NaN
2                                          Emil Jannings  nm0417837   True
3                                          Emil Jannings  nm0417837   True
4                                         Louise Dresser  nm0237571    NaN
...                                                  ...        ...    ...
12009                        Dustin Brooks, Colin Decker        NaN   True
12010                          Attila T. Áfra, Timo Aila        NaN   True
12011                                          Mark Noel        NaN   True
12012                  Su Tie, Bei Shimen, Zhao Yanchong        NaN   True
12013  Tabb Firchau, John Ellison, Steve Webb, David ...        NaN   True

                                                  Detail  \
0                                          Nickie Elkins
1                                 The Patent Leather Kid
2      General Dolgorucki [Grand Duke Sergius Alexander]
3                                       August Schilling
4                                           Mrs. Pleznik
...                                                  ...
12009                                                NaN
12010                                                NaN
12011                                                NaN
12012                                                NaN
12013                                                NaN

                                                    Note  \
0                                                    NaN
1                                                    NaN
2                                                    NaN
3                                                    NaN
4                                                    NaN
...                                                  ...
12009  Fire for Hire's gel first publicly demonstrate...
12010  Open Image Denoise is an open-source library t...
12011  The NACMO series of modular motion bases enabl...
12012  Utilizing three-axis stabilization through mul...
12013  Freefly Systems' introduction of handheld stab...

                                                Citation MultifilmNomination
0                                                    NaN                True
1                                                    NaN                True
2                                                    NaN                True
3                                                    NaN                True
4                                                    NaN                 NaN
...                                                  ...                 ...
12009  To DUSTIN BROOKS and COLIN DECKER for the deve...                 NaN
12010  To ATTILA T. ÁFRA for the creation of Intel Op...                 NaN
12011  To MARK NOEL for adapting and enhancing the sa...                 NaN
12012  To SU TIE for the development of the sensor an...                 NaN
12013  To TABB FIRCHAU for the conception and develop...                 NaN

[12014 rows x 16 columns]>

In [4]:
df2 = pd.read_csv("the_oscar_award.csv")
df2.columns

Index(['year_film', 'year_ceremony', 'ceremony', 'category', 'canon_category',
       'name', 'film', 'winner'],
      dtype='object')

In [5]:
df2

,year_film,year_ceremony,ceremony,category,canon_category,name,film,winner
0,1927,1928,1,ACTOR,ACTOR IN A LEADING ROLE,Richard Barthelmess,The Noose,False
1,1927,1928,1,ACTOR,ACTOR IN A LEADING ROLE,Richard Barthelmess,The Patent Leather Kid,False
2,1927,1928,1,ACTOR,ACTOR IN A LEADING ROLE,Emil Jannings,The Last Command,True
3,1927,1928,1,ACTOR,ACTOR IN A LEADING ROLE,Emil Jannings,The Way of All Flesh,True
4,1927,1928,1,ACTRESS,ACTRESS IN A LEADING ROLE,Louise Dresser,A Ship Comes In,False
...,...,...,...,...,...,...,...,...
11105,2024,2025,97,WRITING (Original Screenplay),WRITING (Original Screenplay),Coralie Fargeat,The Substance,False
11106,2024,2025,97,JEAN HERSHOLT HUMANITARIAN AWARD,JEAN HERSHOLT HUMANITARIAN AWARD,Richard Curtis,NaN,True
11107,2024,2025,97,HONORARY AWARD,HONORARY AWARD,Quincy Jones,NaN,True
11108,2024,2025,97,HONORARY AWARD,HONORARY AWARD,Juliet Taylor,NaN,True
11109,2024,2025,97,IRVING G. THALBERG MEMORIAL AWARD,IRVING G. THALBERG MEMORIAL AWARD,Michael G. Wilson/Barbara Broccoli,NaN,True

In [6]:
df.dropna(axis=0, subset=["Name", "Film"])

,Ceremony,Year,Class,CanonicalCategory,Category,NomId,Film,FilmId,Name,Nominees,NomineeIds,Winner,Detail,Note,Citation,MultifilmNomination
0,1,1927/28,Acting,ACTOR IN A LEADING ROLE,ACTOR,an0051251,The Noose,tt0019217,Richard Barthelmess,Richard Barthelmess,nm0001932,NaN,Nickie Elkins,NaN,NaN,True
1,1,1927/28,Acting,ACTOR IN A LEADING ROLE,ACTOR,an0051252,The Patent Leather Kid,tt0018253,Richard Barthelmess,Richard Barthelmess,nm0001932,NaN,The Patent Leather Kid,NaN,NaN,True
2,1,1927/28,Acting,ACTOR IN A LEADING ROLE,ACTOR,an0051250a,The Last Command,tt0019071,Emil Jannings,Emil Jannings,nm0417837,True,General Dolgorucki [Grand Duke Sergius Alexander],NaN,NaN,True
3,1,1927/28,Acting,ACTOR IN A LEADING ROLE,ACTOR,an0051250b,The Way of All Flesh,tt0019553,Emil Jannings,Emil Jannings,nm0417837,True,August Schilling,NaN,NaN,True
4,1,1927/28,Acting,ACTRESS IN A LEADING ROLE,ACTRESS,an0051255,A Ship Comes In,tt0018389,Louise Dresser,Louise Dresser,nm0237571,NaN,Mrs. Pleznik,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11991,97,2024,Writing,WRITING (Original Screenplay),WRITING (Original Screenplay),fake_nomid035,Anora,tt28607951,Written by Sean Baker,Sean Baker,nm0048918,True,NaN,NaN,NaN,NaN
11992,97,2024,Writing,WRITING (Original Screenplay),WRITING (Original Screenplay),fake_nomid036,The Brutalist,tt8999762,"Written by Brady Corbet, Mona Fastvold","Brady Corbet, Mona Fastvold","nm1227232,nm2178754",NaN,NaN,NaN,NaN,NaN
11993,97,2024,Writing,WRITING (Original Screenplay),WRITING (Original Screenplay),fake_nomid037,A Real Pain,tt21823606,Written by Jesse Eisenberg,Jesse Eisenberg,nm0251986,NaN,NaN,NaN,NaN,NaN
11994,97,2024,Writing,WRITING (Original Screenplay),WRITING (Original Screenplay),fake_nomid039,September 5,tt28082769,"Written by Moritz Binder, Tim Fehlbaum; Co-Wri...","Moritz Binder, Tim Fehlbaum, Alex David","nm9415549,nm2959497,nm1017048",NaN,NaN,NaN,NaN,NaN
11995,97,2024,Writing,WRITING (Original Screenplay),WRITING (Original Screenplay),fake_nomid038,The Substance,tt17526714,Written by Coralie Fargeat,Coralie Fargeat,nm0267287,NaN,NaN,NaN,NaN,NaN

In [7]:
df2.dropna(axis=0, subset=["name", "film"])

,year_film,year_ceremony,ceremony,category,canon_category,name,film,winner
0,1927,1928,1,ACTOR,ACTOR IN A LEADING ROLE,Richard Barthelmess,The Noose,False
1,1927,1928,1,ACTOR,ACTOR IN A LEADING ROLE,Richard Barthelmess,The Patent Leather Kid,False
2,1927,1928,1,ACTOR,ACTOR IN A LEADING ROLE,Emil Jannings,The Last Command,True
3,1927,1928,1,ACTOR,ACTOR IN A LEADING ROLE,Emil Jannings,The Way of All Flesh,True
4,1927,1928,1,ACTRESS,ACTRESS IN A LEADING ROLE,Louise Dresser,A Ship Comes In,False
...,...,...,...,...,...,...,...,...
11101,2024,2025,97,WRITING (Original Screenplay),WRITING (Original Screenplay),Sean Baker,Anora,True
11102,2024,2025,97,WRITING (Original Screenplay),WRITING (Original Screenplay),Brady Corbet/Mona Fastvold,The Brutalist,False
11103,2024,2025,97,WRITING (Original Screenplay),WRITING (Original Screenplay),Jesse Eisenberg,A Real Pain,False
11104,2024,2025,97,WRITING (Original Screenplay),WRITING (Original Screenplay),Moritz Binder/Tim Fehlbaum/Alex David,September 5,False
11105,2024,2025,97,WRITING (Original Screenplay),WRITING (Original Screenplay),Coralie Fargeat,The Substance,False

In [8]:
df[["Year", "Category", "Film", "Note"]].dropna(subset=["Note"])

,Year,Category,Film,Note
16,1927/28,CINEMATOGRAPHY,Sunrise,"NOTE: For this awards year, awards were presen..."
22,1927/28,ENGINEERING EFFECTS,NaN,NOTE: This nomination was not associated with ...
24,1927/28,ENGINEERING EFFECTS,NaN,NOTE: Though no specific titles were indicated...
37,1927/28,WRITING (Title Writing),NaN,NOTE: This award was not associated with any s...
38,1927/28,WRITING (Title Writing),NaN,NOTE: This nomination was not associated with ...
...,...,...,...,...
12009,2024,SCIENTIFIC AND TECHNICAL AWARD (Technical Achi...,NaN,Fire for Hire's gel first publicly demonstrate...
12010,2024,SCIENTIFIC AND TECHNICAL AWARD (Technical Achi...,NaN,Open Image Denoise is an open-source library t...
12011,2024,SCIENTIFIC AND TECHNICAL AWARD (Technical Achi...,NaN,The NACMO series of modular motion bases enabl...
12012,2024,SCIENTIFIC AND TECHNICAL AWARD (Technical Achi...,NaN,Utilizing three-axis stabilization through mul...
12013,2024,SCIENTIFIC AND TECHNICAL AWARD (Technical Achi...,NaN,Freefly Systems' introduction of handheld stab...

In [9]:
df2[["year_ceremony", "category", "film"]]

,year_ceremony,category,film
0,1928,ACTOR,The Noose
1,1928,ACTOR,The Patent Leather Kid
2,1928,ACTOR,The Last Command
3,1928,ACTOR,The Way of All Flesh
4,1928,ACTRESS,A Ship Comes In
...,...,...,...
11105,2025,WRITING (Original Screenplay),The Substance
11106,2025,JEAN HERSHOLT HUMANITARIAN AWARD,NaN
11107,2025,HONORARY AWARD,NaN
11108,2025,HONORARY AWARD,NaN
11109,2025,IRVING G. THALBERG MEMORIAL AWARD,NaN

In [10]:
df2[(df2["category"] == "SPECIAL AWARD")].describe()

         year_film  year_ceremony   ceremony
count    56.000000      56.000000  56.000000
mean   1942.910714    1943.910714  15.964286
std      11.419723      11.419723  11.352155
min    1927.000000    1928.000000   1.000000
25%    1938.000000    1939.000000  11.000000
50%    1941.500000    1942.500000  14.500000
75%    1946.250000    1947.250000  19.250000
max    2017.000000    2018.000000  90.000000

In [11]:
df2

,year_film,year_ceremony,ceremony,category,canon_category,name,film,winner
0,1927,1928,1,ACTOR,ACTOR IN A LEADING ROLE,Richard Barthelmess,The Noose,False
1,1927,1928,1,ACTOR,ACTOR IN A LEADING ROLE,Richard Barthelmess,The Patent Leather Kid,False
2,1927,1928,1,ACTOR,ACTOR IN A LEADING ROLE,Emil Jannings,The Last Command,True
3,1927,1928,1,ACTOR,ACTOR IN A LEADING ROLE,Emil Jannings,The Way of All Flesh,True
4,1927,1928,1,ACTRESS,ACTRESS IN A LEADING ROLE,Louise Dresser,A Ship Comes In,False
...,...,...,...,...,...,...,...,...
11105,2024,2025,97,WRITING (Original Screenplay),WRITING (Original Screenplay),Coralie Fargeat,The Substance,False
11106,2024,2025,97,JEAN HERSHOLT HUMANITARIAN AWARD,JEAN HERSHOLT HUMANITARIAN AWARD,Richard Curtis,NaN,True
11107,2024,2025,97,HONORARY AWARD,HONORARY AWARD,Quincy Jones,NaN,True
11108,2024,2025,97,HONORARY AWARD,HONORARY AWARD,Juliet Taylor,NaN,True
11109,2024,2025,97,IRVING G. THALBERG MEMORIAL AWARD,IRVING G. THALBERG MEMORIAL AWARD,Michael G. Wilson/Barbara Broccoli,NaN,True